<?xml version="1.0"?>
<!-- 此文件必须拷到运行目录下 -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!-- ConversionPattern 解释
    %m(message):输出的日志消息，如ILog.Debug(…)输出的一条消息
    %n(new line)：換行
    %d(datetime):输出当前语句运行的时刻 
    %r(run time):输出程序从运行到执行到当前语句时消耗的毫秒数 
    %t(thread id):当前语句所在的线程ID
    %p(priority): 日志的当前优先级别，即DEBUG、INFO、WARN…等
    %c(class):当前日志对象的名称
    %L：输出语句所在的行号
    %F：输出语句所在的文件名
    %-数字：表示该项的最小长度，如果不够，则用空格填充
    -->
    <!--定义输出到控制台命令行中-->
    <logger name="System">
      <level value="ALL"/>
      <appender-ref ref="DbAppender" />
    </logger>

    <!--定义输出到控制台命令行中--><!--
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="TaobaoKe.Core.Log.LogItemLayout">
        <param name="ConversionPattern" value="日志时间：%d %n日志级别：%-5p %n用 户 ID：%LogItem{Level} %n用户姓名：%LogItem{Type} %n日志信息：%LogItem{Content} %n异常信息：%exception %n%n" />
      </layout>
    </appender>

    --><!--定义输出到windows事件中--><!--
    <appender name="WindowsAppender" type="log4net.Appender.EventLogAppender">
      <layout type="TaobaoKe.Core.Log.LogItemLayout">
        <param name="ConversionPattern" value="日志时间：%d %n日志级别：%-5p %n用 户 ID：%Property{UserID} %n用户姓名：%Property{UserName} %n日志信息：%Property{Message} %n异常信息：%exception %n%n" />
      </layout>
    </appender>

    --><!--定义输出到文件中--><!--
    <appender name="TextAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd" />
      <param name="RollingStyle" value="Date" />
      <layout type="TaobaoKe.Core.Log.LogItemLayout">
        <param name="ConversionPattern" value="日志时间：%d %n日志级别：%-5p %n用 户 ID：%Property{UserID} %n用户姓名：%Property{UserName} %n日志信息：%Property{Message} %n异常信息：%exception %n%n" />
      </layout>
    </appender>

    --><!--定义输出到数据库--><!--
    <appender name="DataBaseAppender" type="log4net.Appender.AdoNetAppender">
      --><!--日志缓存写入条数--><!--
      <bufferSize value="1" />
      --><!--日志数据库连接串--><!--
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.\SQL2008;initial catalog=Demo;integrated security=false;persist security info=True;User ID=sa;Password=1qaz" />
      --><!--日志数据库脚本--><!--
      <commandText value="INSERT INTO LogInfo ([LogDate],[LogLevel],[UserId],[UserName],[Message],[Exception]) VALUES (@LogDate, @LogLevel,@UserId,@UserName, @Message, @Exception)" />
      --><!--日志时间LogDate --><!--
      <parameter>
        <parameterName value="@LogDate" />
        <dbType value="String" />
        <size value="30" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss}" />
        </layout>
      </parameter>
      --><!--日志类型LogLevel --><!--
      <parameter>
        <parameterName value="@LogLevel" />
        <dbType value="String" />
        <size value="10" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      --><!--自定义UserId --><!--
      <parameter>
        <parameterName value="@UserId" />
        <dbType value="String" />
        <size value="20" />
        <layout type="TaobaoKe.Core.Log.LogItemLayout">
          <conversionPattern value="%Property{UserID}" />
        </layout>
      </parameter>
      --><!--自定义UserName --><!--
      <parameter>
        <parameterName value="@UserName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="TaobaoKe.Core.Log.LogItemLayout">
          <conversionPattern value="%Property{UserName}" />
        </layout>
      </parameter>
      --><!--自定义Message --><!--
      <parameter>
        <parameterName value="@Message" />
        <dbType value="String" />
        <size value="200" />
        <layout type="TaobaoKe.Core.Log.LogItemLayout">
          <conversionPattern value="%Property{Message}" />
        </layout>
      </parameter>
      --><!--异常信息Exception --><!--
      <parameter>
        <parameterName value="@Exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>-->
    
    <appender name="DbAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="100" />
      <connectionType value="System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.104.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
      <connectionString value="Data Source=C:\\Users\\ivan\\编程\\taobaoke\\taobaoke\\src\\Publish\\DB\\log.db3;Version=3;" />
      <commandText value="INSERT INTO log (level, type, create_time, content) VALUES (@Level, @Type, datetime('now'), @Content)" />

      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ALL"/>
      </evaluator>

      <parameter>
        <parameterName value="@Level" />
        <dbType value="Byte" />
        <layout type="TaobaoKe.Core.Log.LogItemLayout">
          <conversionPattern value="%LogItem{Level}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Type" />
        <dbType value="Byte" />
        <layout type="TaobaoKe.Core.Log.LogItemLayout">
          <conversionPattern value="%LogItem{Type}" />
        </layout>
      </parameter>
      <!--<parameter>
        <parameterName value="@CreateTime" />
        <dbType value="DateTime" />
        <layout type="TaobaoKe.Core.Log.LogItemLayout">
          <conversionPattern value="%LogItem{CreateTime}" />
        </layout>
      </parameter>-->
      <parameter>
        <parameterName value="@Content" />
        <dbType value="String" />
        <layout type="TaobaoKe.Core.Log.LogItemLayout">
          <conversionPattern value="%LogItem{Content}" />
        </layout>
      </parameter>
    </appender>
  </log4net>
</configuration>